/**
 * -----------------------------------------
 * Content component
 * -----------------------------------------
 */

.content
  max-width: 960px
  padding: $G.layout.headerHeight 20px 0
  margin: 0 auto
