/**
 * -----------------------------------------
 * Miscellaneous class
 * -----------------------------------------
 */

// styles
.hide
  display: none !important

.cursor_normal
  cursor: default !important

.left
  float: left !important

.right
  float: right !important

.clear
  clear: both !important
