/**
 * -----------------------------------------
 * Padding class
 * -----------------------------------------
 */

// local module variables
$paddingSize = $G.unit

// styles
.padding
  padding: $paddingSize !important

.padding_lr,
.padding_left-right
  padding-right: $paddingSize !important
  padding-left: $paddingSize !important

.padding_l,
.padding_left
  padding-left: $paddingSize !important

.padding_r,
.padding_right
  padding-right: $paddingSize !important

.padding_t,
.padding_top
  padding-top: $paddingSize !important

.padding_b,
.padding_bottom
  padding-bottom: $paddingSize !important

.padding_half
  padding: ceil($paddingSize / 2) !important

.padding_half-l,
.padding_half-left
  padding-left: ceil($paddingSize / 2) !important

.padding_half-r,
.padding_half-right
  padding-right: ceil($paddingSize / 2) !important

.padding_half-t,
.padding_half-top
  padding-top: ceil($paddingSize / 2) !important

.padding_half-b,
.padding_half-bottom
  padding-bottom: ceil($paddingSize / 2) !important

.padding_null
  padding: 0 !important

.padding_null-l,
.padding_null-left
  padding-left: 0 !important

.padding_null-r,
.padding_null-right
  padding-right: 0 !important

.padding_null-t,
.padding_null-top
  padding-top: 0 !important

.padding_null-b,
.padding_null-bottom
  padding-bottom: 0 !important
