/**
 * -----------------------------------------
 * Margin/spacer class
 * -----------------------------------------
 */

// local module variables
$unit = $G.unit

// styles
.margin
  margin: $unit !important

.spacer,
.margin_b,
.margin_bottom
  margin-bottom: $unit !important

.spacer_2x,
.margin_2x-b
.margin_2x-bottom
  margin-bottom: 2 * $unit !important

.spacer_l,
.spacer_left,
.margin_l,
.margin_left
  margin-left: $unit !important

.spacer_r,
.spacer_right,
.margin_r,
.margin_right
  margin-right: $unit !important

.spacer_t,
.spacer_top,
.margin_t,
.margin_top
  margin-top: $unit !important

.margin_half
  margin: ceil($unit / 2) !important

.spacer_half,
.margin_half-b,
.margin_half-bottom
  margin-bottom: ceil($unit / 2) !important

.spacer_half-l,
.spacer_half-left,
.margin_half-l,
.margin_half-left
  margin-left: ceil($unit / 2) !important

.spacer_half-r,
.spacer_half-right,
.margin_half-r,
.margin_half-right
  margin-right: ceil($unit / 2) !important

.spacer_half-t,
.spacer_half-top,
.margin_half-t,
.margin_half-top
  margin-top: ceil($unit / 2) !important

.margin_null
  margin: 0 !important

.spacer_null,
.margin_null-b,
.margin_null-bottom
  margin-bottom: 0 !important

.spacer_null-t,
.spacer_null-top,
.margin_null-t,
.margin_null-top
  margin-top: 0 !important

.spacer_null-l,
.spacer_null-left,
.margin_null-l,
.margin_null-left
  margin-left: 0 !important

.spacer_null-r,
.spacer_null-right,
.margin_null-r,
.margin_null-right
  margin-right: 0 !important
