/**
 * -----------------------------------------
 * Typography class
 * -----------------------------------------
 */

// styles
.text_big
  font-size: $G.typo.large !important
  line-height: 1.5em

.text_middle
  font-size: $G.typo.middle !important
  line-height: 1em

.text_small
  font-size: $G.typo.small !important
  line-height: 1

.text_ghost
  color: $G.color.ghost !important

.text_success
  color: $G.color.success !important

.text_error
  color: $G.color.error !important

.text_uppercase
  text-transform: uppercase !important
  letter-spacing: .12em

.text_center
  text-align: center !important

.text_right
  text-align: right !important

.text_left
  text-align: left !important

.text_bold
  font-weight: bold !important

.text_italic
  font-style: italic !important
