/**
 * -----------------------------------------
 * Header
 * -----------------------------------------
 */

// local variables
$headerHeight = $G.layout.headerHeight

// styles
.header
  position: fixed
  width: 100%
  height: $headerHeight
  border-bottom: 1px solid #A5A5A5
  background: #FFF
  box-shadow: 0 1px 2px #AAA

.header__menu-link
  display: block
  height: $headerHeight
  width: $headerHeight
  box-sizing: border-box
  padding: 12px 10px 10px
  border: none
  border-left: 1px solid #CCC
  border-right: 1px solid #CCC
  font-size: 20px
