/**
 * -----------------------------------------
 * invariant
 * -----------------------------------------
 */
// @stylint off
/**
 * Проверить выражение, при котором ваша программная логика ожидает верное(true) значение
 * Если первым параметром придет false, то программа становиться с ошибкой,
 * а если true ничего не произойдет, пойдёт дальше выполнение программы
 *
 * @param {Boolean} $condition логическое условие при котором определяется бросить ли ошибку или нет
 * @param {String} $msg текст сообщения об ошибке в консоль
 * @param {String=} $replacement подстрока для замены в тексте ошибки
 *
 * @example
 * invariant(true, 'текст ошибки')
 * invariant(!!'', 'Ожидалось, что будет %s значение', 'правдивое')
 */
invariant($condition, $msg, $replacement = '')
  if $condition != true
    error(replace('%s', $replacement, $msg))
